<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contatos</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">


    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/detalhes.css">

    <script src="/scripts/detalhes.js"></script>

</head>
<body>
    <div class="viewContainer">
        <div id="container" class="container">


            <header>
                <h1> <%= name%>  </h1>
            </header>
            <main>

                <% 
                // const contatoTitle = contatos.map(isContato => isContato.title);
                // const contatoName = contatos.map(isContato => isContato.contato);

                // console.log(contatoTitle);
                
                contatos.forEach(contato => {
                %>

                <div class="contacts">
                    <input class="inp-contact _1" type="text" placeholder="<%= contato.title %>: <%= contato.contato %>">
                    <a class="button red" href="/delete/<%=contato.title%>/<%=name%>">Excluir</a>
                </div>
                
                <%
            }) ;%> 
            
            <% %>
            <a class="buttonlink"href="/novocontato/<%=name%>">Novo contato</a>
             <% %>



        </div>
</body>
</html>